version: "3"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: kd-cosmetic:latest
    container_name: kd-cosmetic-app
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
    env_file:
      - .env
    restart: unless-stopped
