@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../styles/antd/carousel.scss";

/* Global font size adjustments */
html {
  font-size: 14px;
}

body {
  font-size: 0.875rem;
  line-height: 1.5;
}
